/**
 * Used to style the TinyMCE editor
 */

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
.mce-content-body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
  max-width: 700px;
}
