/**
 * Used to style the Gutenberg editor
 */

/*--------------------------------------------------------------
# General styles
--------------------------------------------------------------*/
.block-editor-page .edit-post-visual-editor,
.block-editor-page .edit-post-visual-editor p,
.block-editor-page .editor-block-list__block,
.block-editor-page .editor-block-list__block p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #333333;
}

.block-editor-page .wp-block {
  max-width: 700px !important;
}

.block-editor-page .editor-post-title__block .editor-post-title__input {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: #333333;
}
